{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card p-5">
                <h1 style="font-size: 100px; color: #F5A623;">404</h1>
                <h2 style="color: #F0F6FC;">Page Not Found!</h2>
                <p style="color: #C9D1D9;">This page doesn't exist!</p>
                <a href="{{ url_for('main.index') }}" class="btn btn-afrigen px-5 mt-3">Go Home 🏠</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}