{% extends "base.html" %}
{% block title %}Server Error{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card p-5">
                <h1 style="font-size: 100px; color: #E74C3C;">500</h1>
                <h2 style="color: #F0F6FC;">Server Error!</h2>
                <p style="color: #C9D1D9;">Something went wrong on our end! We're fixing it!</p>
                <a href="{{ url_for('main.index') }}" class="btn btn-afrigen px-5 mt-3">Go Home <i class="fa-solid fa-house"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}s